<form [formGroup]="form" class="login-input" (ngSubmit)="submit()">
  <div class="fields">
    <mat-form-field appearance="outline" class="row-separator">
      <mat-label>Informe sua senha</mat-label>
      <input
        formControlName="password"
        matInput
        #password
        autocomplete="off"
        [type]="type"
        placeholder="Informe sua senha"
        tabindex="0"
        autofocus
      />

      <mat-icon matSuffix>password</mat-icon>
      <mat-hint>
        <mat-checkbox (click)="showPasswordClicked()"
          >Mostrar senha</mat-checkbox
        >
      </mat-hint>
    </mat-form-field>
  </div>

  <div class="row-separator submit">
    <app-button (click)="submit()" [loading]="loading">Entrar</app-button>
  </div>

  <div class="row-separator subtitle">
    <mat-hint class="link">Esqueceu sua senha?</mat-hint>
  </div>
</form>
