<div class="container">
  <app-navbar (expandedEvent)="changeExpanded($event)"></app-navbar>

  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #sidenav class="sidenav" mode="side" opened="true">
      <mat-nav-list class="dashboard">
        <a mat-list-item>
          <mat-icon mat-list-icon matTooltip="Projetos">extension</mat-icon>
          <span matLine *ngIf="isExpanded">Projetos</span>
        </a>

        <mat-divider></mat-divider>

        <a mat-list-item>
          <mat-icon mat-list-icon matTooltip="Configurações">settings</mat-icon>
          <span matLine *ngIf="isExpanded">Configurações</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <div class="sidenav-content">
      <div class="cads">
        <mat-grid-list cols="5" rowHeight="2:1">
          <mat-grid-tile>
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar>
                  <mat-icon style="color: #ff9800">extension</mat-icon>
                </div>
                <mat-card-title>Easy Billing</mat-card-title>
                <mat-card-subtitle>Green Yellow</mat-card-subtitle>
              </mat-card-header>
              <mat-divider></mat-divider>
              <mat-card-content>
                <p>
                  <mat-hint>Última sincronização:</mat-hint>
                  <mat-hint class="bold">13/12/2020 15:13</mat-hint>
                </p>
              </mat-card-content>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <mat-icon class="color-green">thumb_up_alt</mat-icon>
                <!-- <mat-icon class="color-red">thumb_down_alt</mat-icon>   -->
              </mat-card-actions>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar>
                  <mat-icon style="color: #ff9800">extension</mat-icon>
                </div>
                <mat-card-title>GEDOC</mat-card-title>
                <mat-card-subtitle>Tamoios</mat-card-subtitle>
              </mat-card-header>
              <mat-divider></mat-divider>
              <mat-card-content>
                <p>
                  <mat-hint>Última sincronização:</mat-hint>
                  <mat-hint class="bold">13/12/2020 15:13</mat-hint>
                </p>
              </mat-card-content>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <!-- <mat-icon class="color-green">thumb_up_alt</mat-icon> -->
                <mat-icon class="color-red">thumb_down_alt</mat-icon>
              </mat-card-actions>
            </mat-card>

          </mat-grid-tile>

        </mat-grid-list>
      </div>
    </div>
  </mat-sidenav-container>
</div>
