<mat-grid-list cols="5" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon style="color: #ff9800">extension</mat-icon>
        </div>
        <mat-card-title>Easy Billing</mat-card-title>
        <mat-card-subtitle>Green Yellow</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p>
          <mat-hint>Última sincronização:</mat-hint>
          <mat-hint class="bold">13/12/2020 15:13</mat-hint>
        </p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <mat-icon class="color-green">thumb_up_alt</mat-icon>
        <!-- <mat-icon class="color-red">thumb_down_alt</mat-icon>   -->
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon style="color: #ff9800">extension</mat-icon>
        </div>
        <mat-card-title>GEDOC</mat-card-title>
        <mat-card-subtitle>Tamoios</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p>
          <mat-hint>Última sincronização:</mat-hint>
          <mat-hint class="bold">13/12/2020 15:13</mat-hint>
        </p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <!-- <mat-icon class="color-green">thumb_up_alt</mat-icon> -->
        <mat-icon class="color-red">thumb_down_alt</mat-icon>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
