<mat-toolbar>
  <button mat-icon-button>
    <mat-icon (click)="changeExpanded()">menu</mat-icon>
  </button>

  <span class="title no-selected">Orangotango</span>
  <span class="spacer"></span>

  <button mat-icon-button>
    <mat-icon matTooltip="Notificações">notifications</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon matTooltip="Opções" [matMenuTriggerFor]="menu"
      >more_vert</mat-icon
    >
  </button>

  <mat-menu #menu="matMenu">
    <nav mat-menu-item>
      <mat-icon>star</mat-icon>
      <mat-label>Minha Conta</mat-label>
    </nav>

    <mat-divider></mat-divider>

    <nav mat-menu-item [routerLink]="['account/login']">
      <mat-icon>login</mat-icon>
      <mat-label>Sair</mat-label>
    </nav>
  </mat-menu>
</mat-toolbar>
