<form [formGroup]="form" class="login-input" (ngSubmit)="submit()">
  <div class="fields">
    <mat-form-field appearance="outline" class="row-separator">
      <mat-label>Informe seu e-mail</mat-label>
      <input formControlName="email" matInput autocomplete="off" placeholder="Informe seu e-mail" />
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  </div>

  <div class="row-separator submit">
    <app-button (click)="submit()" [loading]="loading">Entrar</app-button>
  </div>

  <div class="row-separator subtitle">
    <mat-hint>Copyright © | All rights reserved.</mat-hint>
  </div>
</form>
