@import "/src/colors.scss";

.container,
app-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spacer {
  flex: 1 1 auto;
}
.sidenav-container {
  flex: 1;
}

mat-icon {
  cursor: pointer !important;
}

span {
  font-weight: bold;
  color: #313030;
  width: 120px;
}

mat-card {
  width: 300px;
}

.sidenav-content {
  padding: 50px;
}

mat-card-actions {
  padding: 10px;
  display: flex;
  flex-direction: initial;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;

  button {
    margin-left: 15px;
  }
}

mat-card-header {
  mat-icon {
    font-size: xxx-large;
  }
}

mat-card-content > p {
  margin-top: 20px;
}

mat-hint {
  font-size: smaller;
}

.color-red {
  color: $red;
}

.color-green {
  color: $green;
}

.expanded {
  mat-sidenav,
  .mat-line {
    width: 250px;
  }
}



