<div class="container">
  <app-navbar (expandedEvent)="changeExpanded($event)"></app-navbar>

  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #sidenav class="sidenav" mode="side" opened="true">
      <mat-nav-list class="dashboard">
        <a mat-list-item>
          <mat-icon mat-list-icon matTooltip="Projetos">extension</mat-icon>
          <span matLine *ngIf="isExpanded">Projetos</span>
        </a>

        <mat-divider></mat-divider>

        <a mat-list-item>
          <mat-icon mat-list-icon matTooltip="Configurações">settings</mat-icon>
          <span matLine *ngIf="isExpanded">Configurações</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <div class="sidenav-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-container>
</div>
